           
            .font528767 {
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
            }
            
            .font628767 {
                color: black;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
            }
            
            .xl6528767 {
                padding: 0px;
                color: windowtext;
                font-size: 7.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: left;
                vertical-align: middle;
                white-space: normal;
            }
            
            .xl6628767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: general;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl6728767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: right;
                vertical-align: middle;
                white-space: normal;
            }
            
            .xl6828767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: general;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl6928767 {
                padding: 0px;
                color: windowtext;
                font-size: 7.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: right;
                vertical-align: middle;
                white-space: normal;
            }
            
            .xl7028767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: .5pt solid windowtext;
                border-right: .5pt solid windowtext;
                border-bottom: 1.0pt solid windowtext;
                border-left: 1.0pt solid windowtext;
                white-space: normal;
            }
            
            .xl7128767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: .5pt solid windowtext;
                border-right: 1.0pt solid windowtext;
                border-bottom: 1.0pt solid windowtext;
                border-left: .5pt solid windowtext;
                white-space: normal;
            }
            
            .xl7228767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl7328767 {
                padding: 0px;
                color: windowtext;
                font-size: 7.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: general;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl7428767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl7528767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: none;
                border-right: none;
                border-bottom: none;
                border-left: 1.0pt solid windowtext;
                white-space: normal;
            }
            
            .xl7628767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: none;
                border-right: 1.0pt solid windowtext;
                border-bottom: none;
                border-left: none;
                white-space: normal;
            }
            
            .xl7728767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                white-space: normal;
            }
            
            .xl7828767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                white-space: normal;
            }
            
            .xl7928767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: .5pt solid windowtext;
                border-right: 1.0pt solid windowtext;
                border-bottom: 1.0pt solid windowtext;
                border-left: 1.0pt solid windowtext;
                white-space: normal;
            }
            
            .xl8028767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: 1.0pt solid windowtext;
                border-right: none;
                border-bottom: .5pt solid windowtext;
                border-left: 1.0pt solid windowtext;
                white-space: normal;
            }
            
            .xl8128767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: 1.0pt solid windowtext;
                border-right: 1.0pt solid windowtext;
                border-bottom: .5pt solid windowtext;
                border-left: none;
                white-space: normal;
            }
            
            .xl8228767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: 1.0pt solid windowtext;
                border-right: none;
                border-bottom: none;
                border-left: 1.0pt solid windowtext;
                white-space: normal;
            }
            
            .xl8328767 {
                padding: 0px;
                color: windowtext;
                font-size: 8.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: 1.0pt solid windowtext;
                border-right: 1.0pt solid windowtext;
                border-bottom: none;
                border-left: none;
                white-space: normal;
            }
            
            .xl8428767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: left;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl8528767 {
                padding: 0px;
                color: windowtext;
                font-size: 16.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: left;
                vertical-align: middle;
                white-space: normal;
            }
            
            .xl8628767 {
                padding: 0px;
                color: windowtext;
                font-size: 13.0pt;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: left;
                vertical-align: bottom;
                white-space: normal;
            }
            
            .xl8728767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: 1.0pt solid windowtext;
                border-right: none;
                border-bottom: .5pt solid windowtext;
                border-left: 1.0pt solid windowtext;
                white-space: normal;
            }
            
            .xl8828767 {
                padding: 0px;
                color: windowtext;
                font-size: 10.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: center;
                vertical-align: middle;
                border-top: 1.0pt solid windowtext;
                border-right: 1.0pt solid windowtext;
                border-bottom: .5pt solid windowtext;
                border-left: none;
                white-space: normal;
            }
            
            .xl8928767 {
                padding: 0px;
                color: windowtext;
                font-size: 7.0pt;
                font-weight: 400;
                font-style: normal;
                text-decoration: none;
                font-family: Arial, sans-serif;
                text-align: left;
                vertical-align: bottom;
                white-space: normal;
            }