# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/client/node_modules
/server/node_modules
/bower_components
/client/bower_components
/server/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
/client/.idea
/client/.project
/client/.classpath
/client/*.launch
/client/.settings/
/server/.idea
/server/.project
/server/.classpath
/server/*.launch
/server/.settings/

# logs
/log

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
/client/e2e/*.js
/client/e2e/*.map

#System Files
.DS_Store
Thumbs.db
