<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <strong>Gebiet Ausgabe</strong>
        </div>
        <form (ngSubmit)="save()" #newProcessingData="ngForm" class="form-2orizontal ">
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Gebiet:</label>
                    <div class="col-md-9">
                        <ng-select #territoriesInput (selected)="selectTerritory($event)" (typed)="searchTerritories($event)" placeholder="Kein Gebiet ausgewählt.">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Verkündiger/in:</label>
                    <div class="col-md-9">
                        <ng-select #proclaimersInput (selected)="selectProclaimer($event)" (typed)="searchProclaimers($event)" placeholder="Kein Verkündiger ausgewählt.">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Ausgeborgt am:</label>
                    <div class="col-md-9">
                        <input #from [(ngModel)]="form.from" (ngModelChange)="inputFromChanged($event)" type="date" id="text-input" name="from" class="form-control"
                            placeholder="dd.mm.yyyy" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Rückgabe-datum:</label>
                    <div class="col-md-9">
                        <input #to [(ngModel)]="form.to" type="date" id="text-input" name="to" class="form-control" placeholder="dd.mm.yyyy" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Zurückgegeben</label>
                    <div class="col-md-9">
                        <input #submitted [(ngModel)]="form.submitted" type="checkbox" id="inline-checkbox" name="submitted" value="option">
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-floppy-o"></i> Speichern</button>
                <button type="reset" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </form>
    </div>
</div>