<div class="form-group row">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                  </span>
            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search">
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proclaimer of proclaimers">
            <td>{{proclaimer.firstName}}</td>
            <td>{{proclaimer.lastName}}</td>
        </tr>
    </tbody>
</table>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
    <li class="page-item active">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>