<div class="form-group row">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i>&nbsp; Search</span>
            <input #searchProclaimer type="text" id="search" name="search" class="form-control" (keyup)="search(searchProclaimer.value)">
        </div>
    </div>
    <button type="button" class="btn btn-outline-success" (click)="infoModal.show()"><i class="fa fa-plus"></i>&nbsp; Verkündiger hinzufügen</button>

</div>

<table class="table table-responsive table-hover table-outline mb-0 hidden-sm-down">
    <thead class="thead-default">
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proclaimer of proclaimers |async">
            <td>{{proclaimer.firstName}} {{proclaimer.lastName}}</td>
        </tr>
    </tbody>
</table>

<app-settings-proclaimer-dialog #infoModal></app-settings-proclaimer-dialog>
<!--<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
    <li class="page-item active">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>-->