<div class="form-group row">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i>&nbsp; Suche</span>
            <input #searchTerritory type="text" id="search" name="search" class="form-control" (keyup)="search(searchTerritory.value)">
        </div>
    </div>
    <button type="button" class="btn btn-outline-success" (click)="infoModal.show()"><i class="fa fa-plus"></i>&nbsp; Gebiet hinzufügen</button>
</div>
<table class="table table-responsive table-hover table-outline mb-0 hidden-sm-down">
    <thead class="thead-default">
        <tr>
            <th>Gebiet-Nr.</th>
            <th>Bezeichnung</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let territory of territories |async" (click)="infoModal.show(territory)">
            <td>{{territory.territoryNumber}}</td>
            <td>{{territory.name}}</td>
            <td>{{territory.comment}}</td>
        </tr>
    </tbody>
</table>

<settings-territory-dialog #infoModal (territorySave)="save($event)"></settings-territory-dialog>
<!--<ul class="pagination"> 
    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
    <li class="page-item active">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>-->