// Here you can add other styles

// REPORTS TERRITORYCARD COMPONENT
$size-small: 1024px;
$size-medium: 1250px;
$size-large: 1460px;
$size5: 5.0pt;
$size6: 6.0pt;
$size7: 7.0pt;
$size8: 8.0pt;
$size10: 10.0pt;
$size13: 13.0pt;
$size16: 16.0pt;

.font528767 {
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.font628767 {
    color: black;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.xl6528767 {
    padding: 0px;
    color: windowtext;   
    // @media screen and (min-width: $size-large) { font-size: $size7; }
    font-size: $size7;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

.xl6628767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: normal;
}

.xl6728767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: right;
    vertical-align: middle;
    white-space: normal;
}

.xl6828767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: normal;
}

.xl6928767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: right;
    vertical-align: middle;
    white-space: normal;
}

.xl7028767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    @media screen and (max-width: $size-medium) { font-size: $size6; }
    @media screen and (max-width: $size-small) { font-size: $size5; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: .5pt solid windowtext;
    border-right: .5pt solid windowtext;
    border-bottom: 1.0pt solid windowtext;
    border-left: 1.0pt solid windowtext;
    white-space: normal;
}

.xl7128767 {
    padding: 0px;
    color: windowtext;    
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    @media screen and (max-width: $size-medium) { font-size: $size6; }
    @media screen and (max-width: $size-small) { font-size: $size5; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: .5pt solid windowtext;
    border-right: 1.0pt solid windowtext;
    border-bottom: 1.0pt solid windowtext;
    border-left: .5pt solid windowtext;
    white-space: normal;
}

.xl7228767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10;}
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: normal;
}

.xl7328767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: general;
    vertical-align: bottom;
    white-space: normal;
}

.xl7428767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: bottom;
    white-space: normal;
}

.xl7528767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }  
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1.0pt solid windowtext;
    white-space: normal;
}

.xl7628767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: none;
    border-right: 1.0pt solid windowtext;
    border-bottom: none;
    border-left: none;
    white-space: normal;
}

.xl7728767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}

.xl7828767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}

.xl7928767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: .5pt solid windowtext;
    border-right: 1.0pt solid windowtext;
    border-bottom: 1.0pt solid windowtext;
    border-left: 1.0pt solid windowtext;
    white-space: normal;
}

.xl8028767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: 1.0pt solid windowtext;
    border-right: none;
    border-bottom: .5pt solid windowtext;
    border-left: 1.0pt solid windowtext;
    white-space: normal;
}

.xl8128767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: 1.0pt solid windowtext;
    border-right: 1.0pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    border-left: none;
    white-space: normal;
}

.xl8228767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: 1.0pt solid windowtext;
    border-right: none;
    border-bottom: none;
    border-left: 1.0pt solid windowtext;
    white-space: normal;
}

.xl8328767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size8; }     
    @media screen and (max-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: 1.0pt solid windowtext;
    border-right: 1.0pt solid windowtext;
    border-bottom: none;
    border-left: none;
    white-space: normal;
}

.xl8428767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
}

.xl8528767 {
    padding: 30px 0px 0px 0px !important;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size16; }
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

.xl8628767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size13; }
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
}

.xl8728767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: 1.0pt solid windowtext;
    border-right: none;
    border-bottom: .5pt solid windowtext;
    border-left: 1.0pt solid windowtext;
    white-space: normal;
}

.xl8828767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size10; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: 1.0pt solid windowtext;
    border-right: 1.0pt solid windowtext;
    border-bottom: .5pt solid windowtext;
    border-left: none;
    white-space: normal;
}

.xl8928767 {
    padding: 0px;
    color: windowtext;
    @media screen and (min-width: $size-large) { font-size: $size7; }
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
}